<header class="header">
  <nav class="nav hide-xs">
    <div class="nav-center">
      <a href="/">home</a>
      <a href="/projects">projects</a>
      <a href="/darkroom">darkroom</a>
      <a href="/log">log</a>
      <a href="/whoami">whoami</a>
    </div>
  </nav>
  <nav class="nav hide-sm hide-md hide-lg">
    <details style="width: 100%; max-width: 300px; margin-left: auto; margin-right: auto;">
      <summary class="list-item is-center" style="margin-bottom: 0; text-align: center; padding: 0; max-width: 300px;">
        <h4>&lt;nav&gt;&lt;/nav&gt;</h4>
      </summary>
      <a class="small-nav-link" href="/">home</a>
      <a class="small-nav-link" href="/projects">projects</a>
      <a class="small-nav-link" href="/darkroom">darkroom</a>
      <a class="small-nav-link" href="/log">log</a>
      <a class="small-nav-link" href="/whoami">whoami</a>
    </details>
  </nav>
</header>