{{- range .thumbs -}}
  {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp|webp|avif|jxl)" }}<!-- is the current file an image? -->
  {{- if $isimg }}
    {{- $thumb := .Name }}<!-- filename of thumbnail image -->
    {{- $thumbURL := print $.baseURL $.dir "/thumbs/" $thumb | absURL }}<!-- absolute URL to thumbnail image -->
    <img itemprop="thumbnail" style="object-fit: cover;width: 16rem;height: 16rem;" src="{{ $thumbURL }}" alt="Photo" /><!-- <img> hidden if in .gallery -->
  {{- end }}
{{- end }}