<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="container">
  {%- include header.html -%}

	<div class="row">
  	<div class="col-1 col-2-md col-2-lg"></div>
  	<div class="col">

			<!--

  		{%- for collection in site.photos -%}

  		<a href="{{ collection.url }}">
				<div class="button dark outline is-full-width text-left" style="margin-top:10px">
					<h4>{{ collection.slug }}</h4>
				</div>
  		</a>

  		{%- endfor -%}

			-->

			<br><br><br>
			<h1 class="text-center">work in progress</h1>

  	</div>
  	<div class="col-1 col-2-md col-2-lg"></div>
	</div>

  {%- include footer.html -%}
</body>

</html>
