<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="container">

	{%- include header.html -%}

		<div class="row is-full-screen">

      <div class="col-7 is-vertical-align">
				<img class="is-horizontal-align" src="_pages/img/me.png" />
      </div>

			<div class="col-5 is-vertical-align hide-xs">
				<h1 style="font-size:4vw" class="text-uppercase">Mikhail <br> Shishatskiy <br>
<a class="button clear icon-only" href="https://github.com/Shishqa"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="max-height:30px"/>
</a>
<a class="button clear icon-only" href="https://www.linkedin.com/in/shishqa"><img src="https://icon-library.com/images/linkedin-icon-black-and-white/linkedin-icon-black-and-white-4.jpg" style="max-height:30px"/>
</a>
<a class="button clear icon-only" href="mailto:shishqa.main@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/646/646135.png" style="max-height:30px"/>
</a>

</h1>

			</div>
			<div class="col-5 text-center hide-sm hide-md hide-lg">

				<h1 style="font-size:7vw" class="text-uppercase">Mikhail <br> Shishatskiy <br>

<a class="button clear icon-only" href="https://github.com/Shishqa"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="max-height:36px"/>
</a>
<a class="button clear icon-only" href="https://www.linkedin.com/in/shishqa"><img src="https://icon-library.com/images/linkedin-icon-black-and-white/linkedin-icon-black-and-white-4.jpg" style="max-height:34px"/>
</a>
<a class="button clear icon-only" href="mailto:shishqa.main@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/646/646135.png" style="max-height:32px"/>
</a>
</h1>

			</div>

    </div>

  {%- include content.html -%}
  {%- include footer.html -%}
</body>

</html>
